#root {
  width: 100%;
  /*max-width: 1280px;*/
  margin: 0 auto;
  /*padding: 2rem;*/
  text-align: center;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}
.header-paxina{
  background-color: #FFFFFF;
  width: 100%;
  display: flex;
  justify-content: space-between;
}
.estilo-titulo{
  color:black;
  font-size: 20px;
  padding: 1%;
}
.icono-User{
  border: 1px solid red;
  border-radius: 50%;
  margin: 1%;
  width: 30px;
}
.estilo-menu-lateral-home{
  display: flex;
  height: 100vh;
  flex-direction: column;
  
  flex: 1; 
}
.flex-1{
  flex:1
}
.estilo-paxinas-app{
  
  display: flex;
}
.estilo-nav-dentro{
  display: flex;
  justify-content: center;
}
.height-100vh{
  height: 100vh;
  display: flex

}
.esconder{
  display: none;
}
@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}
