* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: Arial, sans-serif;
  line-height: 1.6; /* Improve readability */
  min-height: 100vh; /* Ensure body takes up at least the full viewport height */
}

