.form-acceso{
    /* background-color: white; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 600px;
    width: 500px;
    gap: 50px;
}
.label-acceso{
    color: black;
    display: flex;
    justify-content: space-around;
}
.imaxes-acceso{
    width: 40px;
}
::placeholder{
    color: rgb(226, 226, 226);
    font-weight:600;
    
    color: #4C8DEB;
}
.input-acceso[type="text"],.input-acceso[type="password"]{
    background-color:white;
    padding: 3px;
    padding: 10px;
    border-radius: 10px;
    color: rgb(255, 144, 144);
}
button[type="submit"]{
    background-color:white;
    padding: 3px;
    padding: 10px;
    border-radius: 10px;
    background-color: #4C8DEB;
    width: 50%;
    padding: 10px;
    font-size: 25px;
}


.estilo-acceso{
    display: flex;
    justify-content: center;
    flex-direction: column;
    background-color: white;
    box-shadow: 0 -3em 3em rgba(0, 0, 0, 0.1),
    0 0 0 2px rgb(255, 255, 255),
    0.3em 0.3em 1em rgba(0, 0, 0, 0.3);
    width: 35%;
    flex-wrap: wrap;
    align-content: center;
}