.icono-menu-lateral{
    width: 20px;
  }
  .menu-lateral{
    display: flex;
    flex-direction: column;
    background-color: #4C8DEB;
  }

.link-menu-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    margin: 10px;
    text-align: center;
}