.icono-menu-lateral{
  width: 30px;
  }
  .menu-lateral{
    display: flex;
    align-items: center;
    flex-direction: column;
    background-color: #4C8DEB;
    justify-content: space-between;
    gap: 10px;
  }

.link-menu-lateral{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-between;
    /*margin: 10px;*/
    text-align: center;
    margin-bottom: 130px;
}

.icono-menu-lateral-exit{
  width: 60px;
  cursor: pointer;
  padding: 10px;
}