
.addnewbtn-bar {
    text-align: right;
    display: block;
    padding-bottom: 12px;
  }

.btn-header-right {
    text-align: center;
    color: cornsilk;
    background: linear-gradient(to right, #3785dd 20%, #5160e7 100%);
    padding: 3px 12px 3px 10px;
    border: 1px transparent ridge;
    font-size: 0.8em;
    border-radius: 4px;
    font-weight: lighter;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }
  
.btn-header-right:hover {
    border: 1px rgb(51, 66, 66) solid;
    transform: scale(1.02);
    filter: brightness(70%);
  }
  
.btn-header-right .symbol-btn-header-right {
    font-family: "Times New Roman", Times, serif;
    font-size: 2em;
    vertical-align: -3px;
    margin-right: 6px;
  }
  