.btn {
  padding: 10px 20px;
  border-radius: 8px;
  font-weight: 600;
  color: white;
  border: none;
  cursor: pointer;
  transition: background-color 0.3s;
}

.primary {
  width: 150px;
  height: 50px;
  background-color: rgba(76,141,235,1);
  border-radius: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  padding: 10px 20px;
  border: none;
}

.primary:hover {
  background-color: #0056b3;
}

.guardar-boton {
  position: absolute;
  bottom: -80px;  /* separa hacia abajo del formulario */
  right: 0;
  width: 260px;
  height: 65px;
  font-size: 28px;
}

.primary {
  width: 150px;
  height: 50px;
  background-color: rgba(76,141,235,1);
  border-radius: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 18px;
  line-height: 100%;
  text-align: center;
  padding: 10px 20px;
  border: none;
}

.secondary {
  z-index: 10;
  position: absolute;
  top: 20px;
  right: 20px;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  background-color: #6c757d;
}

.secondary:hover {
  background-color: #5a6268;
}

.danger {
  z-index: 10;
  position: absolute;
  top: 80px;  /* más abajo que secondary */
  right: 20px;
  width: 150px;
  height: 50px;
  border-radius: 12px;
  font-family: 'Mulish', sans-serif;
  font-weight: 600;
  font-size: 14px;
  line-height: 100%;
  text-align: center;
  background-color: #dc3545;
}

.danger:hover {
  background-color: #c82333;
}

.disabled {
  opacity: 0.6;
  cursor: not-allowed;
}


.guardar-boton:hover {
  background-color: #0056b3;
}


